.quote{
   border: solid 2px black;
   border-radius: 8px;
   padding: 15px;
   min-width: 300px;
   max-width: 800px;
   margin: auto;
   margin-bottom: 20px;
   text-align: center;
   width: 90%;
   background: rgb(237, 232, 232);
}
.author{
    font-weight: 700;
    text-align: right;
}
.text{
    font-size: 1.3em;
}