@use '/src/common/colors' as *;
@use '/src/common/mixins' as *;

$br : 10px;

.upload{
    width: 300px;
    margin: auto;
    background-color: $colorBgLight;
    text-align: center;
    padding: 8px;
    @include borderRadius($br);
    .progressMain{
        height: 14px;
        width: 100%;
        background-color: $colorBgDark;
        @include borderRadius($br);
        .progress{
            background-color: $colorBtn ;
            height: 100%;
            @include borderRadius($br);
            transition: width 0.3s linear;
        }
    }
    button{
        @include borderRadius($br);
        padding: 10px;
        background-color: $colorBtn ;
        color: $colorWhite;
        border: none;
        &:disabled{
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    .success{
        color:$colorBtn ;
        font-size: 1.2em;
        font-weight: 700;
    }
    
}

