
.hero{
background-color: gray;
border-radius: 8px;
padding: 10px;
min-width: 300px;
max-width: 500px;
}

.heroes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     gap: 10px;
}
.raw{
    display: flex;
    justify-content: space-between;
}

.name{
    text-align: center;
}