.config{
    background-color: rgb(193, 190, 190);
    width: 500px;
    border-radius: 8px;
    margin: auto;
    padding: 15px;
}
.config fieldset{
    border: none;
    padding: 0;
    margin-bottom: 10px;
}
.config select{
    width: 100%;
    padding: 6px;
}
.config button{
    width: 100%;
    padding: 6px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
}
.column>label{
    display: block;
}
.full{
    width: 100%;
    padding: 6px;
}